%html
  %head
    %link{:href => "http://yui.yahooapis.com/pure/0.2.0/pure-min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/stylesheets/index.css", :rel => "stylesheet"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js",  :type => "text/javascript"}
    %script{:src => "//underscorejs.org/underscore-min.js", :type => "text/javascript"}
    %script{:src => "/vendor/javascripts/moment.min.js", :type =>"text/javascript"}
    %script{:src => "/javascripts/submit.js", :type =>"text/javascript"}

    %title Sabihin mo na.
  %body
    #header
      %h1 Sabihin mo na.
    #form
      %form.pure-form
        %fieldset
          %textarea.pure-input-1-2{:rows => "20"}
        %button.pure-button.pure-input-1-2 Send
    #messages
